.App {
  text-align: center;
  /* background-color: #b2ebf2; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  padding: 35px;
  /* padding-left: 100px; */
  /* padding-right: 50px; */
  /* padding-top: 10px; */
  text-align: center;
  /* background: #00FFFF; */
  font-size: 30px;
  border-radius: 25px;
  width: 1700px;
  height: 70px;
  display: inline-block;
}

.head{
  text-align: right;
  padding-top: 30px;
  padding-right: 1px;
  padding-left: 1px;
  /* padding-bottom: 10px; */
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.chemanimation{
  padding-left: 150px;
  /* padding-top: 10px; */
  padding-bottom: 70px;
}

.naresh{
  padding-left: 200px;
}

.intro{
  font-size: 20px;
  padding-left: 50px;
  text-align: left;
}

.trophy{
  padding-left: 600px; 
}

.welcome{
  font-size: 40px;
  text-align: left;
  padding-left: 460px;
}

.welcome1{
  font-size: 40px;
  text-align: left;
  padding-left: 650px;
}

.bodyx{
  text-align: left;
  /* padding-left: 500px; */
}

.footer{
  background-color: #000000;
}

.papers{
  padding-left: 300px;
  padding-bottom: 50px;
}

.navigate{
  padding-right: 200px; 
}

.scientist{
  text-align: left;
}


header {
  display: block;
}

